.col-centered{
    float: none;
    margin: 0 auto;
}

body{
    background-image: url("/images/abstract.jpg");
    background-color: darkslategrey !important;
}

.card{
    background-color: rgba(255,255,255,1);
}