.col-centered{
    float: none;
    margin: 0 auto;
}

body{
    background-image: url("/images/abacus.jpg");
    background-color: whitesmoke !important;
}

.card{
    background-color: rgba(255,255,255,0.8);
}